@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h1>Add a treat</h1>

<h2>Add a treat to this flavor: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to index", "Index")</p>